<div class="container">
  <div class="row align-baseline text-center" style="height: 350px;">
    <div class="col-md-12">
      <div>
        <h1>About</h1>
          <p style="margin-bottom: 0.5rem;">ながのCAKEは全国発送可能なケーキ屋さんです。</p><br>
          <p style="margin-bottom: 0.5rem;">お子様からお年寄りの方までお召し上がりいただけるよう、</p><br>
          <p style="margin-bottom: 0.5rem;">様々なバリエーションをご用意しております。</p><br>
          <p style="margin-bottom: 0.5rem;">また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</p><br>
          <p class="lh-sm">ぜひご注文ください。</p>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12  text-center">
      <div class="image">
        <%= image_tag 'about1.jpg', size: '400x267' %>
      </div>
    </div>
  </div>
</div>

