<!--Top-page-->
<p>ようこそ、ながのCAKEへ！</p>
<p>このサイトは、ケーキ販売のECサイトになります。</p>
<p>会員でない方も商品の閲覧はできますが、</p>
<p>購入には会員登録が必要になります。</p>


<h1>新着商品</h1>

<table>
  <tbody>
    <tr>
      <td>
        <%= image_tag 'cake.jpg', size: '300x225' %>
        <p>商品名 クリスマスケーキ</p>
        <p>¥ 6,000</p>
      </td>
    <!--</tr>-->
    <!--<tr>-->
      <td>
        <%= image_tag 'str.jpg', size: '300x225' %>
        <p>商品名 苺のフレジェ</p>
        <p>¥ 5,000</p>
      </td>
    <!--</tr>-->
    <!--<tr>-->
      <td>
        <%= image_tag 'hart.jpg', size: '300x225' %>
        <p>商品名 ハートチョコケーキ</p>
        <p>¥ 5,000</p>
      </td>
    <!--</tr>-->
    <!--<tr>-->
      <td>
        <%= image_tag 'mill.jpg', size: '300x225' %>
        <p>商品名 苺のミルフィーユ</p>
        <p>¥ 700</p>
      </td>
    </tr>
  </tbody>
</table>