    <p><%= image_tag @item.item_image %></p>
    <h4>商品名：<%= @item.name %></h4>
    <p>商品説明：<%= @item.introduction %></p>
    <p>
        <!--税込計算-->
        <% tax_price=@item.price*1.1 %> 
        ￥<%= tax_price.round.to_s(:delimited)  %>
        (税込)
    </p>
    
    
    <!--カートに入れる機能を後で追加form_with-->
