<h3>注文情報確認</h3>

<!--<table>-->
<!--  <thead>-->
<!--    <tr>-->

<!--    </tr>-->
<!--  </thead>-->
<!--</table>-->

<!--<table>-->
  <!--<tr>-->
    <!--<td>-->
      <table border>
        <tr bgcolor="#DDDDDD">
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
        </tr>
        <tr>
          <td>会員が買った商品<%#= @customer.cart_items.item_id %></td>
          <td>商品値段<%#= order_detail.tax_price(@customer) %></td>
          <td>数<%#= @customer.cart_items.amount %></td>
          <td>小計金額<%#= order_detail.tax_price(@customer) %></td>
        </tr>
      </table>
    <!--</td>-->

    <!--<td>-->
      <table border>
        <tr>
          <th bgcolor="#DDDDDD">送料</th>
          <td>800</td>
        </tr>
        <tr>
          <th bgcolor="#DDDDDD">商品合計</th>
          <td>商品値段<%#= tax_price+tax_price %></td>
        </tr>
        <tr>
          <th bgcolor="#DDDDDD">請求金額</th>
          <td>金額<%#= tax_price+tax_price+shipping_cost %></td>
        </tr>
      </table>
    <!--</td>-->
  <!--</tr>-->
<!--</table>-->
<strong>支払方法</strong>　<%#= @order.payment_method %><br>
<strong>お届け先</strong><%= @address.set_address %>


<%= link_to '注文を確定する', orders_path, method: :post, class:"btn btn-success btn-lg" %>
<!--メソッドPOSTか？-->