// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.background {
  width: 700px;
  height: 467px;
  position: relative;
  background: url(cake.jpg);
  background-size: cover;
  background-position: center;
}

.box {
  width: 380px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255,255,255,0.5);
}

.p {
  position: absolute;
  top: 70%;
  left: 50%;
  text-align: center;
  padding-top: 25px;
  transform: translate(-50%, -50%);
  font-weight: normal;
  font-size: 16px;
}