
<h4>商品一覧</h4>

<!--xには件数表示-->
（全<%=@total_items%>件）　

<% @items.each do |item| %>
    <div>
        <% if item.is_active %>
        
            <p><%= image_tag item.item_image %></p>
            <p><%=link_to " #{item.name}", item_path(item.id) %></p>
            <p>
            <% tax_price=item.price*1.1 %> 
            <%= tax_price.floor.to_s(:delimited)  %>円
            </p>
        <% end %>
    
    </div>
  
<% end %>